$navbar-default-color:      #777;
$navbar-default-bg:         #389;
$navbar-default-border:     #EAE831;
$navbar-default-link-color: #FFF6F6;
$brand-primary:        #389;
$navbar-default-brand-hover-color:         #EAE831;
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/bootstrap-material-design/sass/bootstrap-material-design.scss";

